<app-loading></app-loading>

<div class="container">
   <div class="box">
     <img class="logo" src="./../../../assets/images/logo_utm.png" />

   <input type="tel" [(ngModel)]="objeto_persona.cedula" nz-input placeholder="Cedula">

   <input type="text" [(ngModel)]="objeto_persona.nombres" nz-input placeholder="Nombres">

   <input type="text" [(ngModel)]="objeto_persona.apellidos" nz-input placeholder="Apellidos">

   <input type="tel" [(ngModel)]="objeto_persona.telefono" nz-input placeholder="Telefono">

   <input type="email" [(ngModel)]="objeto_persona.correo" nz-input placeholder="Correo">

   <nz-date-picker [(ngModel)]="objeto_persona.fecha_nacimiento"></nz-date-picker>
   

  <nz-select [(ngModel)]="objeto_persona.ciudad" style="width: 100%;" nzPlaceHolder="Seleccione">
  <nz-option *ngFor="let item of objeto_ciudad" nzValue="{{item}}" nzLabel="{{item}}"></nz-option>>
  </nz-select>

   <button [disabled]="!objeto_persona.cedula.length || !objeto_persona.nombres || !objeto_persona.apellidos || !objeto_persona.telefono|| !objeto_persona.correo || !objeto_persona.fecha_nacimiento || !objeto_persona.ciudad"
    nz-button nzType="primary" (click)="dar_click()">Guardar</button>
  
 </div>

 <div class="table-container">
  <nz-table>
   <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Telefono</th>
        <th>Ciudad</th>
        <th>Correo</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of objeto_tabla; let i =index">
        <td>{{data.cedula}}</td>
        <td>{{data.nombres}}</td>
        <td>{{data.apellidos}}</td>
        <td>{{data.telefono}}</td>
        <td>{{data.ciudad}}</td>
        <td>{{data.correo}}</td>
        <td>
          <a (click)="eliminar(i)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  </div>
</div>

