.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 100%;
}

[nz-row] {
  margin-top: 10px;
}
